<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
	<%- include ../partials/header.ejs %>
</head>

<body id="body">

	<!-- preloader -->
	<div id="preloader">
		<div class="loder-box">
			<div class="battery"></div>
		</div>
	</div>
	<!-- end preloader -->

	<!--
        Fixed Navigation
        ==================================== -->
	<header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
		<div class="container">
			<div class="navbar-header">
				<!-- responsive nav button -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- /responsive nav button -->

				<!-- logo -->
				<h1 class="navbar-brand">
					<a href="#body">WoW Affixes</a>
				</h1>
				<!-- /logo -->
			</div>

			<!-- main nav -->
			<nav class="collapse navbar-collapse navbar-right" role="navigation">
				<ul id="nav" class="nav navbar-nav">
					<li><a href="#body">This week</a></li>
					<li><a href="#affixes-info">Affixes</a></li>
				</ul>
			</nav>
			<!-- /main nav -->

		</div>
	</header>
	<!--
        End Fixed Navigation
        ==================================== -->

	<main class="site-content" role="main">

		<!--
        Home Slider
        ==================================== -->

		<section id="home-slider">
				<%- include ../partials/slide.ejs %>
		</section>

		<!--
        End Home SliderEnd
		==================================== -->

		<!-- Affixes section -->
		<section id="affixes-info" class="parallax" style="background-image: none;">
			<div class="overlay">
				<div class="container">
					<div class="row">

						<div class="sec-title text-center white wow animated fadeInDown">
							<h2>FOLLOW US</h2>
							<p>Beautifully simple follow buttons to help you get followers on</p>
						</div>

						<ul class="affixes-info-button">
							<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-2x"></i></a></li>
							<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
							<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
						</ul>

					</div>
				</div>
			</div>
		</section>
		<!-- end Affixes section -->


		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">
						<p>Copyright &copy; 2014-2015 Design and Developed By<a href="http://www.themefisher.com">Themefisher</a> </p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
		<script src="js/jquery-1.11.1.min.js"></script>
		<!-- Twitter Bootstrap -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Single Page Nav -->
		<script src="js/jquery.singlePageNav.min.js"></script>
		<!-- jquery.fancybox.pack -->
		<script src="js/jquery.fancybox.pack.js"></script>
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- jquery easing -->
		<script src="js/jquery.easing.min.js"></script>
		<!-- Fullscreen slider -->
		<script src="js/jquery.slitslider.js"></script>
		<script src="js/jquery.ba-cond.min.js"></script>
		<!-- onscroll animation -->
		<script src="js/wow.min.js"></script>
		<!-- Custom Functions -->
		<script src="js/main.js"></script>
		<script>var whTooltips = { iconizeLinks: true, renameLinks: true };</script>
		<script src="//wow.zamimg.com/widgets/power.js"></script>
</body>

</html>